<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h1>Add new chat</h1>

    <form method="POST" action="/chats">
        <input type="text" placeholder="Who are yoy?" name="from"> 
        <br>
        <textarea name="msg" placeholder="Write your message here..."></textarea>
        <br>
        <input placeholder="add reciever" name="to">
        <br><br>
        <button>Create Chat</button>
    </form>
    
</body>
</html>