body {
    margin: 20px;
}

.chat {
    background-color: aquamarine;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
    margin-top: 20px;
}

.msg {
    background-color: rgb(154, 143, 143);
    color: white;
    padding: 5px, 15px;
    border-radius: 16px;
}